<% include ./partial/header %>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://dheerajkriiitg.github.io/iiitg_topview.jpg"
      class="d-block w-100"
      height="300"
       alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Learn</h5>
        <p>An investment in knowledge always pays the best interest.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.snapwi.re/439b/5c66cd1f4ae200ccd7c47bdf.w800.jpg"
      class="d-block w-100" 
      height="300"
      alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Develop</h5>
        <p>“Education is not the filling of a pail, but the lighting of a fire.”</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.iiitg.ac.in/images/new_pics1/index10.jpg"
      height="300"
      class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Be Passionate</h5>
        <p>Develop a passion for learning. If you do, you will never cease to grow.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--old carousel-->

<div id="scrollspy1" style=" margin-top: -30px;">
  <div
    class="jumbotron"
    style="height: 300px ;    
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVuui-k7rzjS2Vtt3yJbDecaYMGEmH1HCKzg&usqp=CAU');    background-color: #008cbf;
    color: #ffffff;
    box-shadow: inset 50px 50px 100px #000000, inset -50px -50px 100px #000000;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    "
  >
    <div class="contact" style="color: white;">
      <h1 style=" font-weight: bold; color: white; ">
        We'd love to hear from you
      </h1>
      <p style="font-weight: bold;">
        Need to get in touch with the team?We're all ears.Our team is here to
        help you.
      </p>
    </div>
  </div>

  <div class="container ">
    <div class="row" style="padding-bottom:40px; ">
      <div class="col-sm-4">
        <div class="card" style="background-color: black; margin-bottom: 20px;">
          <img
            class="card-img-top"
            style="height: 300px;"
            width="400"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4xsL_O44JaPWFZEMerdDTBKjtRaHwYamOqw&usqp=CAU"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Mr kumar</h4>
            <p class="card-text" style="color: white;">CSE HOD</p>
            <a href="#" class="btn btn-warning card-link">View Profile</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4xsL_O44JaPWFZEMerdDTBKjtRaHwYamOqw&usqp=CAU"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr sukumar</h4>
              <p class="card-text" style="color: white;">ECE HOD</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://thumbs.dreamstime.com/b/male-graduate-student-profile-icon-gown-cap-flat-style-vector-eps-male-graduate-student-profile-icon-gown-cap-155031056.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr govardhan</h4>
              <p class="card-text" style="color: white;">student</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://thumbs.dreamstime.com/b/male-graduate-student-profile-icon-gown-cap-flat-style-vector-eps-male-graduate-student-profile-icon-gown-cap-155031056.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr srinivas</h4>
              <p class="card-text" style="color: white;">student</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://thumbs.dreamstime.com/b/male-graduate-student-profile-icon-gown-cap-flat-style-vector-eps-male-graduate-student-profile-icon-gown-cap-155031056.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr vamshi</h4>
              <p class="card-text" style="color: white;">student</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://thumbs.dreamstime.com/b/male-graduate-student-profile-icon-gown-cap-flat-style-vector-eps-male-graduate-student-profile-icon-gown-cap-155031056.jpg"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr prithvi</h4>
              <p class="card-text" style="color: white;">student</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCo5fkGnPsayvPBILFmtwjx4UsrAwmHWrKKQ&usqp=CAU"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr sai</h4>
              <p class="card-text" style="color: white;">iiitg boys hostel warden</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="card" style="background-color: black; margin-bottom: 20px;">
            <img
              class="card-img-top"
              style="height: 300px;"
              width="400"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCo5fkGnPsayvPBILFmtwjx4UsrAwmHWrKKQ&usqp=CAU"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">Mr anirudh</h4>
              <p class="card-text" style="color: white;">iiitg hostel warden</p>
              <a href="#" class="btn btn-warning card-link">View Profile</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<% include ./partial/footer %>
